Source: xtrace
Section: x11
Priority: optional
Maintainer: Bernhard R. Link <brlink@debian.org>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.3.0

Package: xtrace
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: xauth
Description: trace communication between X client and server
 What strace is for system calls, xtrace is for X11 connections:
 you hook it between one or more X11 clients and an X server and
 it prints the requests going from client to server and the replies,
 events and errors going the other way.
